/*CSS du menu à ne pas toucher*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f2ee;
    margin: 0;
    padding: 0;
}

#nav_plus {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000; 
}

nav {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 15px;
}


#wrapper {
    width: 80%;
    margin: auto;
    margin-top: 75px; 
}


#logo {
    height: 40px;
    margin-right: 20px;
}

.icone {
    height: 15px;
    width: 15px;
    padding-bottom: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    display: block;
    color: #0073b1;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

nav ul li a.active {
    border-bottom: 2px solid black;
    color: black;

}

nav ul li a:hover{
    border-bottom: 2px solid #C7C8C8;
    color: black;
}
/*A faire à la fin */
/*
@media (max-width: 900px) {
    #wrapper, nav {
        width: 95%;
    }

    #logo {
        height: 30px; 
    }

    /
}


@media (max-width: 480px) {
    #wrapper, nav {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 5px 0; 
    }

    #logo {
        height: 20px; 
    }

}
*/

/*Fin CSS menu*/


/*CSS TOUTES LES PAGES*/
#section {
    padding-top: 5px;
    padding-bottom: 15px;

    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border-radius: 15px;
}


/*CSS PAGE ACCUEIL*/



/*CSS PAGE RESEAU*/

.petit_profil {
    /*background-color: gray;*/
    display: flex;
    align-items: center; 
    justify-content: space-between;   
    height: 50px;
    border-bottom: solid #E8E8E8 1px;
    padding-top: 10px;
    

}

.petit_profil .bouton_unfollow {
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: #E03D3D;
    border: solid black 1px;
    border-radius: 20px;
    padding: 8px;
    margin-right: 20px;
        
}

.petit_profil .bouton_follow {
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: #448CD0;
    border: solid black 1px;
    border-radius: 20px;
    padding: 8px;
    margin-right: 20px;
}



/*CSS PAGE PROFIl*/
#photo {
    border-radius: 100%;
    border: solid black 1px;
    width: 100px;
    height: 100px;
}


/*CSS PAGES NOTIFIATIONS*/



/*CSS PAGES MESSAGERIES*/


/*CSS PAGES EMPLOIS*/


/*CSS FOOTER*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
